# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.12.0]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build
    - name: Save build output
      uses: actions/upload-artifact@v1
      with:
        name: built-output
        path: ./elfinder_client

  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Load saved build output
        uses: actions/download-artifact@v1
        with:
          name: built-output
          path: ./elfinder_client
      - name: Deploy assets to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.5.0
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./elfinder_client
          commit_message: Deploy to GitHub Pages
          allow_empty_commit: true
